<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../dist/css/bootstrap.min.css">
	<script type="text/javascript" src="../jquery.min.js"></script>
	<script type="text/javascript" src="../dist/js/bootstrap.min.js"></script>
	<style type="text/css">
	div{
		height: 200px;
		border: 1px solid;
	}
	</style>
</head>
<body>
<div class="container">
  <!-- Content here -->
</div>
<div class="container-fluid">
  ...
</div>
</body>
</html>